{{if .ShowAll}}
<div class="archive animated fadeInDown">
  <p class="post-title">分类 </p>
  <ul class="listing">
    {{range .TreeArticles}}
    <li class="listing-item">
      <div class="listing-post">
        <p class="post-title"><a href="/categories/{{.Name}}" title="技术文档">{{.Name}}</a></p>
        <span class="date meta-item">{{getChildrenCount .}} 篇</span>
      </div>
    </li>
    {{end}}
  </ul>
</div>
{{else}}
<div class="archive animated fadeInDown">
  <p class="post-title">分类 {{.Categorie}}</p>
  <ul class="listing">
    {{range .List}}
    <li class="listing-item">
      <div class="listing-post">
        <p class="post-title"><a href="/article{{.Link}}" title="{{.Title}}">{{.Title}}</a></p>
        <div class="post-time">
          <span class="ar-date">{{.PublishTime}}</span>
        </div>
      </div>
    </li>
    {{end}}
  </ul>
</div>
{{end}}
